/* Universal Styles */

html {
  font-size: 16px;
  font-family: sans-serif;
  color: dimgray;
}

p {
  font-weight: lighter;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

/* Header: logo & menu */

header {
  height: 64px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

img {
  margin: 32px 24px;
}

.link {
  color: dodgerblue;
  font-size: 0.8rem;
}

.container {
  display: flex;
}

.box-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

.box-right {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  width: 40%;
}

.logo {
  display: flex;
  align-items: center;
}

header .logo span {
  font-family: helvetica;
  font-size: 1.2rem;
}

#colmar {
  font-weight: bold;
  color: black;
}

#academy {
  font-weight: lighter;
  color: grey;
}

.menu-all {
  display: flex;
  margin-right: 24px;
  flex-direction: row;
}

.menu-all li {
  margin-right: 16px;
}

/* Banner: Learn Something */

.banner {
  background-color: lightgrey;
  align-items: center;

}

.banner-img {
  width: 60%;
  height: 60%;
}

.start-here {
  display: flex;
  flex-direction: column;
  margin: auto 16px;
}

.banner .box-right h1, h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  display: flex;
  margin-top: 40px;
  background-color: dimgrey;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content:center;
}

@media only screen and (max-width: 1000px) {
  .banner .box-right h1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {

  .menu-all, .logo{
    display: none;}

  .banner img{
    display: none;}

  .banner{
    background-color: darkgrey;}

  .banner .box-right{
    background-color: lightgrey;
    margin-top: 180px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;}

  .start{
      margin: 32px 16px;}

  .start h1{
    margin-bottom: 32px;
  }
  .start h3{
    margin-bottom: 24px;
  }

  .button{
    background-color: darkgrey;}

  header .mobile{
      display:flex;
      justify-content: space-around;
      width: 100%;}

    header{
      height: 64px;
      background-color: white;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (min-width: 651px){
    .mobile-menu{
      display: none;
    }
  }

  @media only screen and (min-width: 651px){
    .mobile{
      display: none;
    }
  }

/* INFO: campus */

.info .box-left {
  display: flex;
}

.info .box-left img {
  margin:32px 0px;
  width: 100%;
}

.info .box-left h1 {
  margin-bottom: 24px;
}

.info .box-right {
  display: flex;
  flex-direction: column;
  border-left: thin solid lightgrey;
  width: 423px;
  margin-top: 16px;
}

.date {
  display: flex;
  flex-direction: row;
  border-bottom: thin solid lightgrey;
  align-items: center;
}

.date-info {
  display:flex;
  flex-direction: column;
  margin-right: 32px;
}

.date-info h3, p, span {
  margin-bottom: 8px;
}

.date img {
  width: 35%;
  margin: 16px;
}

#lecture {
  background-color: lightgrey;
}

.story cite {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 0.8rem;
}

@media only screen and (max-width: 650px) {

.info {
  justify-content: center;
}
  .info .box-left {
    display: none;
  }
  .info .box-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
  }
  .mobile {
    margin-bottom: 32px;
  }
  .mobile .date {
    display: flex;
    flex-direction: column;
    margin: 16px;
    border-bottom: none;
  }

  .date img {
    margin: 16px;
    width: 100%;
    max-width: 400px;
  }

  .info .box-right {
    display: none;}

  .mobile .date-info {
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom: 16px;
    max-width: 400px
  }
}

/* COURSES: Start Learning */

.courses {
  background-color: lightgrey;
  flex-direction: column;
}

.courses h1 {
  align-self: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}
.description {
  background-color: white;
  margin: 16px;
  font-family: sans-serif;
}
.class {
  margin: 16px;
  background-color: white;
  width: 30%;
}
.class img {
  margin: 0px;
  width: 100%;
}
.class h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.8rem;
}
.class h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.class p {
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: lighter;
}

@media only screen and (max-width: 650px) {
  .class h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
  .class h4{
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .courses{
    background-color: white;
    border-top: thin solid lightgrey;
    border-bottom: thin solid lightgrey;
  }
  .classes{
    display: none;
  }
  .mobile{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .mobile-class{
    background-color: lightgrey;
    margin: 8px;
  }
  .mobile-class p{
    font-weight: normal;
    font-size: 1.5rem;
    margin: 16px;
  }
}

@media only screen and (min-width: 480px) {
  .mobile-class{
    display: none;
  }
}

/* THESIS: exhibit */

.exhibit {
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.exhibit-info {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  border-bottom: thin solid lightgrey;
}
.exhibit-info .box-left {
  display: flex;
  flex-direction: column;
}
.exhibit-info .box-left video {
  width: 100%;
}
.exhibit-info .box-right {
  display: flex;
  flex-direction: column;
  width: 423px;
}

.exhibit-info .box-right .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 168px;
}

.exhibit-info .box-right .detail img {
  margin: 16px;
  width: 35%;
}
#first-detail {
  background-color: lightgrey;
  width: 100%;
}

.urban h1 {
  margin-top: 24px;
  margin-bottom: 25px;
}
.urban p {
  margin-bottom: 32px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  margin:24px;
}
.legal span {
  margin-right:16px;
}

@media only screen and (max-width: 800px) {
  .exhibit-info .box-right {
    display: none;
  }
  .exhibit-info .box-left article{
    display: none;
  }
  .exhibit-info .box-left{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .legal {
    display: none;}
  footer span{
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 16px;
  }

}
